# Exercise 3: Parallel ETL

In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
from time import time
import configparser
import matplotlib.pyplot as plt
import pandas as pd

# STEP 1: Get the params of the created redshift cluster 
- We need:
    - The redshift cluster <font color='red'>endpoint</font>
    - The <font color='red'>IAM role ARN</font> that give access to Redshift to read from S3

In [7]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
#KEY=config.get('AWS','key')
#SECRET= config.get('AWS','secret')

DWH_DB= config.get("DWH","DWH_DB")
DWH_DB_USER= config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD= config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT = config.get("DWH","DWH_PORT")

In [8]:
# FILL IN THE REDSHIFT ENPOINT HERE
# e.g. DWH_ENDPOINT="redshift-cluster-1.csmamz5zxmle.us-west-2.redshift.amazonaws.com" 
DWH_ENDPOINT="udacity-redshift-cluster-1.c7g6xzy0gs0p.us-east-1.redshift.amazonaws.com" 
    
#FILL IN THE IAM ROLE ARN you got in step 2.2 of the previous exercise
#e.g DWH_ROLE_ARN="arn:aws:iam::988332130976:role/dwhRole"
DWH_ROLE_ARN="arn:aws:iam::311694234399:role/udacity-role-redshift_read-s3-1"

# STEP 2: Connect to the Redshift Cluster

In [9]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://udacity-redshift-user-1:Passw0rd@udacity-redshift-cluster-1.c7g6xzy0gs0p.us-east-1.redshift.amazonaws.com:5439/udacity-redshift-db-1

In [10]:
import boto3

session = boto3.Session(profile_name='default')

s3 = session.resource('s3',
                       region_name="us-east-1"
                   )

sampleBucket =  s3.Bucket("udacity-labs")
for obj in sampleBucket.objects.filter(Prefix="tickets"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/full/')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/full/full.csv.gz')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/part-00000-d33afb94-b8af-407d-abd5-59c0ee8f5ee8-c000.csv.gz')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/part-00001-d33afb94-b8af-407d-abd5-59c0ee8f5ee8-c000.csv.gz')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/part-00002-d33afb94-b8af-407d-abd5-59c0ee8f5ee8-c000.csv.gz')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/part-00003-d33afb94-b8af-407d-abd5-59c0ee8f5ee8-c000.csv.gz')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/part-00004-d33afb94-b8af-407d-abd5-59c0ee8f5ee8-c000.csv.gz')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/part-00005-d33afb94-b8af-407d-abd5-59c0ee8f5ee8-c000.csv.gz')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/part-00006-d33afb94-b8af-407d-abd5-59c0ee8f5ee8-c000.csv.gz')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/part-00007-d33afb94-b8af-407d-abd5-59c0ee8f5ee8-c000.csv.gz')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/part-00008-d33afb94-b8af-407d-abd5-59c0ee8f5ee8-c000.csv.gz')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/part-00009-d33afb94-b8af-407d-abd5-59c0ee8f5ee8-c000.csv.gz')

# STEP 3: Create Tables

In [11]:
%%sql 
DROP TABLE IF EXISTS "sporting_event_ticket";
CREATE TABLE "sporting_event_ticket" (
    "id" double precision DEFAULT nextval('sporting_event_ticket_seq') NOT NULL,
    "sporting_event_id" double precision NOT NULL,
    "sport_location_id" double precision NOT NULL,
    "seat_level" numeric(1,0) NOT NULL,
    "seat_section" character varying(15) NOT NULL,
    "seat_row" character varying(10) NOT NULL,
    "seat" character varying(10) NOT NULL,
    "ticketholder_id" double precision,
    "ticket_price" numeric(8,2) NOT NULL
);

 * postgresql://udacity-redshift-user-1:***@udacity-redshift-cluster-1.c7g6xzy0gs0p.us-east-1.redshift.amazonaws.com:5439/udacity-redshift-db-1
Done.
Done.

[]

# STEP 4: Load Partitioned data into the cluster

In [12]:
%%time
qry = """
    copy sporting_event_ticket from 's3://udacity-labs/tickets/split/part'
    credentials 'aws_iam_role={}'
    gzip delimiter ';' compupdate off region 'us-west-2';
""".format(DWH_ROLE_ARN)

%sql $qry

 * postgresql://udacity-redshift-user-1:***@udacity-redshift-cluster-1.c7g6xzy0gs0p.us-east-1.redshift.amazonaws.com:5439/udacity-redshift-db-1
Done.
CPU times: user 6.54 ms, sys: 2.95 ms, total: 9.49 ms
Wall time: 21.1 s

[]

# STEP 4: Create Tables for the non-partitioned data

In [13]:
%%sql
DROP TABLE IF EXISTS "sporting_event_ticket_full";
CREATE TABLE "sporting_event_ticket_full" (
    "id" double precision DEFAULT nextval('sporting_event_ticket_seq') NOT NULL,
    "sporting_event_id" double precision NOT NULL,
    "sport_location_id" double precision NOT NULL,
    "seat_level" numeric(1,0) NOT NULL,
    "seat_section" character varying(15) NOT NULL,
    "seat_row" character varying(10) NOT NULL,
    "seat" character varying(10) NOT NULL,
    "ticketholder_id" double precision,
    "ticket_price" numeric(8,2) NOT NULL
);

 * postgresql://udacity-redshift-user-1:***@udacity-redshift-cluster-1.c7g6xzy0gs0p.us-east-1.redshift.amazonaws.com:5439/udacity-redshift-db-1
Done.
Done.

[]

In [21]:
%sql Select count(*) FROM sporting_event_ticket LIMIT 10;

 * postgresql://udacity-redshift-user-1:***@udacity-redshift-cluster-1.c7g6xzy0gs0p.us-east-1.redshift.amazonaws.com:5439/udacity-redshift-db-1
1 rows affected.

[(14912899,)]

In [25]:
%sql Select * FROM sporting_event_ticket order by id desc LIMIT 10;

 * postgresql://udacity-redshift-user-1:***@udacity-redshift-cluster-1.c7g6xzy0gs0p.us-east-1.redshift.amazonaws.com:5439/udacity-redshift-db-1
10 rows affected.

[(149128981.0, 8691.0, 23.0, Decimal('2'), '2', 'B', '2', None, Decimal('65.42')),
 (149128971.0, 8691.0, 23.0, Decimal('2'), '2', 'B', '3', None, Decimal('65.42')),
 (149128961.0, 8691.0, 23.0, Decimal('2'), '2', 'C', '1', None, Decimal('65.42')),
 (149128951.0, 8691.0, 23.0, Decimal('2'), '2', 'C', '2', None, Decimal('65.42')),
 (149128941.0, 8691.0, 23.0, Decimal('2'), '3', 'B', '2', None, Decimal('65.42')),
 (149128931.0, 8691.0, 23.0, Decimal('2'), '3', 'B', '3', None, Decimal('65.42')),
 (149128921.0, 8691.0, 23.0, Decimal('2'), '3', 'C', '1', None, Decimal('65.42')),
 (149128911.0, 8691.0, 23.0, Decimal('2'), '3', 'C', '2', None, Decimal('65.42')),
 (149128901.0, 8691.0, 23.0, Decimal('2'), '3', 'C', '3', None, Decimal('65.42')),
 (149128891.0, 8691.0, 23.0, Decimal('2'), '4', 'A', '1', None, Decimal('65.42'))]

# STEP 5: Load non-partitioned data into the cluster
- Note how it's slower than loading partitioned data

In [14]:
%%time

qry = """
    copy sporting_event_ticket_full from 's3://udacity-labs/tickets/full/full.csv.gz' 
    credentials 'aws_iam_role={}' 
    gzip delimiter ';' compupdate off region 'us-west-2';
""".format(DWH_ROLE_ARN)

%sql $qry

 * postgresql://udacity-redshift-user-1:***@udacity-redshift-cluster-1.c7g6xzy0gs0p.us-east-1.redshift.amazonaws.com:5439/udacity-redshift-db-1
Done.
CPU times: user 6.2 ms, sys: 3.39 ms, total: 9.59 ms
Wall time: 26.9 s

[]

In [22]:
%sql select count(*) from sporting_event_ticket_full limit 10

 * postgresql://udacity-redshift-user-1:***@udacity-redshift-cluster-1.c7g6xzy0gs0p.us-east-1.redshift.amazonaws.com:5439/udacity-redshift-db-1
1 rows affected.

[(14912898,)]

In [24]:
%sql select * from sporting_event_ticket_full order by id desc limit 10

 * postgresql://udacity-redshift-user-1:***@udacity-redshift-cluster-1.c7g6xzy0gs0p.us-east-1.redshift.amazonaws.com:5439/udacity-redshift-db-1
10 rows affected.

[(149128981.0, 8691.0, 23.0, Decimal('2'), '2', 'B', '2', None, Decimal('65.42')),
 (149128971.0, 8691.0, 23.0, Decimal('2'), '2', 'B', '3', None, Decimal('65.42')),
 (149128961.0, 8691.0, 23.0, Decimal('2'), '2', 'C', '1', None, Decimal('65.42')),
 (149128951.0, 8691.0, 23.0, Decimal('2'), '2', 'C', '2', None, Decimal('65.42')),
 (149128941.0, 8691.0, 23.0, Decimal('2'), '3', 'B', '2', None, Decimal('65.42')),
 (149128931.0, 8691.0, 23.0, Decimal('2'), '3', 'B', '3', None, Decimal('65.42')),
 (149128921.0, 8691.0, 23.0, Decimal('2'), '3', 'C', '1', None, Decimal('65.42')),
 (149128911.0, 8691.0, 23.0, Decimal('2'), '3', 'C', '2', None, Decimal('65.42')),
 (149128901.0, 8691.0, 23.0, Decimal('2'), '3', 'C', '3', None, Decimal('65.42')),
 (149128891.0, 8691.0, 23.0, Decimal('2'), '4', 'A', '1', None, Decimal('65.42'))]